.landing {
  position: relative;
  /* text-align: justify; */
  color: #fff;
}

.molecules {
  width: 100%;
}

.heading {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .heading {
    margin-top: 20px;
    font-size: 12px;
    width: 300px;
  }
}
