/* Global CSS */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #888;
}

#scrollUp {
  bottom: 15px;
  right: 15px;
  padding: 10px 20px;
  background: #1a76d1;
  color: #fff;
  font-size: 25px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #00000026;
}
#scrollUp:hover {
  background: #2c2d3f;
}
/* Color Plate */
.color-plate {
  position: fixed;
  display: block;
  z-index: 99998;
  padding: 20px;
  width: 245px;
  background: #fff;
  right: -245px;
  text-align: left;
  top: 30%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: -3px 0px 25px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -3px 0px 25px -2px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 25px -2px rgba(0, 0, 0, 0.2);
}
.color-plate.active {
  right: 0;
}
.color-plate .color-plate-icon {
  position: absolute;
  left: -48px;
  width: 48px;
  height: 45px;
  line-height: 45px;
  font-size: 21px;
  border-radius: 5px 0 0 5px;
  background: #1a76d1;
  text-align: center;
  color: #fff !important;
  top: 0;
  cursor: pointer;
  box-shadow: -4px 0px 5px #00000036;
}
.color-plate h4 {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}
.color-plate p {
  font-size: 13px;
  margin-bottom: 15px;
  line-height: 20px;
}
.color-plate span {
  width: 42px;
  height: 35px;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 3px;
}
.color-plate span:hover {
  cursor: pointer;
}
.color-plate span.color1 {
  background: #1a76d1;
}
.color-plate span.color2 {
  background: #2196f3;
}
.color-plate span.color3 {
  background: #32b87d;
}
.color-plate span.color4 {
  background: #fe754a;
}
.color-plate span.color5 {
  background: #f82f56;
}
.color-plate span.color6 {
  background: #01b2b7;
}
.color-plate span.color7 {
  background: #6c5ce7;
}
.color-plate span.color8 {
  background: #85ba46;
}
.color-plate span.color9 {
  background: #273c75;
}
.color-plate span.color10 {
  background: #fd7272;
}
.color-plate span.color11 {
  background: #badc58;
}
.color-plate span.color12 {
  background: #44ce6f;
}
/*=============================
	End Global CSS 

.why-choose .choose-left h3 {
  font-size: 24px;
  font-weight: 600;
  color: #2c2d3f;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 24px;
}
.why-choose .choose-left h3:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: #1a76d1;
}
.why-choose .choose-left p {
  margin-bottom: 35px;
}

.why-choose .choose-left .list li {
  color: #868686;
  margin-bottom: 12px;
}
.why-choose .choose-left .list li:last-child {
  margin-bottom: 0px;
}
.why-choose .choose-left .list li i {
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  background: #1a76d1;
  color: #fff;
  font-size: 14px;
  border-radius: 100%;
  padding-left: 2px;
  margin-right: 16px;
}
/* Start Faq CSS */

/*=======================
	End Why choose CSS
=========================*/

/*===============================
	Start Call to action CSS
=================================*/

/*===============================
	Start Call to action CSS
=================================*/

/*==========================
	Start Portfolio CSS
============================*/

/*==========================
	End Portfolio CSS
============================*/

/*=========================
	Srart service CSS
===========================*/

/*====================
	End Team CSS
======================*/

/*=======================
	Start Blog CSS
=========================*/

/*===================
	End Blog CSS
=====================*/

/*==========================
	Start Appointment CSS
============================*/
.appointment {
  background: #fff;
  padding-top: 100px;
}
.appointment.single-page {
  background: #fff;
  padding-top: 100px 0;
  padding: 0;
  padding: 100px 0;
}
.appointment.single-page .appointment-inner {
  padding: 40px;
  box-shadow: 0px 0px 10px #00000024;
  border-radius: 5px;
}

.appointment.single-page .title h3 {
  font-size: 25px;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.appointment .form {
  margin-top: 30px;
}

.appointment .form input {
  width: 100%;
  height: 50px;
  border: 1px solid #eee;
  text-transform: capitalize;
  padding: 0px 18px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0;
  border-radius: 4px;
}
.appointment .form textarea {
  width: 100%;
  height: 200px;
  padding: 18px;
  border: 1px solid #eee;
  text-transform: capitalize;
  resize: none;
  border-radius: 4px;
}
.appointment .form-group .nice-select {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: 1px solid #eee;
  text-transform: capitalize;
  padding: 0px 18px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  font-weight: 400;
}
.appointment .form-group .nice-select::after {
  right: 20px;
  color: #757575;
}
.appointment .form-group .list {
  border-radius: 4px;
}
.appointment .form-group .list li {
  color: #757575;
  border-radius: 0;
}
.appointment .form-group .list li.selected {
  color: #757575;
  font-weight: 400;
}
.appointment .form-group .list li:hover {
  color: #fff;
  background: #1a76d1;
}

.appointment.single-page .button .btn {
  width: 100%;
}
.appointment .button .btn {
  font-weight: 500;
}
.appointment .button .btn:hover {
  color: #fff;
}
.appointment .form p {
  margin-top: 10px;
  color: #868686;
}
.appointment.single-page .work-hour {
  background: #1a76d1;
  padding: 40px;
  box-shadow: 0px 0px 10px #00000024;
  border-radius: 5px;
}
.appointment.single-page .work-hour h3 {
  font-size: 25px;
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}
.appointment.single-page .time-sidual {
  margin-top: 15px;
}
.appointment.single-page .time-sidual {
  overflow: hidden;
}
.appointment.single-page .time-sidual li {
  display: block;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
}
.appointment.single-page .time-sidual li span {
  display: inline-block;
  /* float: right; */
}
.appointment.single-page .day-head .time {
  font-weight: 400;
  float: right;
}
/*==========================
	End Appointment CSS
============================*/

/*====================
   Start Login CSS
======================*/
.login .inner {
  box-shadow: 0px 0px 10px #00000024;
  border-radius: 5px;
  overflow: hidden;
}
.login .login-left {
  background-image: url(img/signup-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.login .login-form {
  padding: 50px 40px;
}
.login .login-form h2 {
  position: relative;
  font-size: 32px;
  color: #333;
  font-weight: 600;
  line-height: 27px;
  text-transform: capitalize;
  margin-bottom: 12px;
  padding-bottom: 20px;
  text-align: left;
}
.login .login-form h2:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: #1a76d1;
}
.login .login-form p {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  text-align: left;
  margin-bottom: 50px;
}
.login .login-form p a {
  display: inline-block;
  margin-left: 5px;
  color: #1a76d1;
}
.login .login-form p a:hover {
  color: #2c2d3f;
}
.login .form {
  margin-top: 30px;
}
.login .form .form-group {
  margin-bottom: 22px;
}
.login .form .form-group input {
  width: 100%;
  height: 50px;
  border: 1px solid #eee;
  text-transform: capitalize;
  padding: 0px 18px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
}
.login .form .form-group.login-btn {
  margin: 0;
}
.login .form button {
  border: none;
}
.login .form .btn {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  line-height: 20px;
  width: 100%;
}
.login .form .btn:hover {
  background: #1a76d1;
  color: #fff;
}
.login .login-form .checkbox {
  text-align: left;
  margin: 0;
  margin-top: 20px;
  display: inline-block;
}
.login .login-form .checkbox label {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  position: relative;
  padding-left: 20px;
}
.login .login-form .checkbox label:hover {
  cursor: pointer;
}
.login .login-form .checkbox label input {
  display: none;
}
.login .login-form .checkbox label::before {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #1a76d1;
  border-radius: 100%;
}
.login .login-form .checkbox label::after {
  position: relative;
  content: "";
  width: 7px;
  height: 7px;
  left: -16px;
  top: -15px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  font-size: 9px;
  background: #1a76d1;
  border-radius: 100%;
}
.login .login-form .checkbox label.checked::after {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.login .login-form .lost-pass {
  display: inline-block;
  margin-left: 25px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.login .login-form .lost-pass:hover {
  color: #1a76d1;
}
/*====================
   End Login CSS
======================*/

/*=========================
   Start Register CSS
===========================*/
.register .inner {
  box-shadow: 0px 0px 10px #00000024;
  border-radius: 5px;
  overflow: hidden;
}
.register .register-left {
  background-image: url(img/signup-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.register .register-form {
  padding: 50px 40px;
}
.register .register-form h2 {
  position: relative;
  font-size: 32px;
  color: #333;
  font-weight: 600;
  line-height: 27px;
  text-transform: capitalize;
  margin-bottom: 12px;
  padding-bottom: 20px;
  text-align: left;
}
.register .register-form h2:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: #1a76d1;
}
.register .register-form p {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  text-align: left;
  margin-bottom: 50px;
}
.register .register-form p a {
  display: inline-block;
  margin-left: 5px;
  color: #1a76d1;
}
.register .register-form p a:hover {
  color: #2c2d3f;
}
.register .form {
  margin-top: 30px;
}
.register .form .form-group {
  margin-bottom: 22px;
}
.register .form .form-group input {
  width: 100%;
  height: 50px;
  border: 1px solid #eee;
  text-transform: capitalize;
  padding: 0px 18px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
}
.register .form .form-group.login-btn {
  margin: 0;
}
.register .form button {
  border: none;
}
.register .form .btn {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  line-height: 20px;
  width: 100%;
}
.register .form .btn:hover {
  background: #1a76d1;
  color: #fff;
}
.register .register-form .checkbox {
  text-align: left;
  margin: 0;
  margin-top: 20px;
  display: inline-block;
}
.register .register-form .checkbox label {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  position: relative;
  padding-left: 20px;
}
.register .register-form .checkbox label:hover {
  cursor: pointer;
}
.register .register-form .checkbox label input {
  display: none;
}
.register .register-form .checkbox label::before {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #1a76d1;
  border-radius: 100%;
}
.register .register-form .checkbox label::after {
  position: relative;
  content: "";
  width: 7px;
  height: 7px;
  left: -16px;
  top: -15px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  font-size: 9px;
  background: #1a76d1;
  border-radius: 100%;
}
.register .register-form .checkbox label.checked::after {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.register .register-form .terms {
  display: inline-block;
  margin-left: 5px;
  color: #1a76d1;
}
.register .register-form .terms:hover {
  color: #2c2d3f;
}
/*=========================
   End Register CSS
===========================*/

/*=====================
   Start Faq CSS
=======================*/
.faq-head h2 {
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 25px;
}
.faq-wrap {
  margin-bottom: 50px;
}
.faq-wrap:last-child {
  margin-bottom: 30px;
}
.accordion {
  padding-left: 0;
  margin: 0;
  padding: 0;
}
.accordion p {
  font-size: 15px;
  display: none;
  padding: 20px 45px 15px 20px;
  margin-bottom: 0;
}
.accordion a {
  font-size: 16px;
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 400;
  padding: 15px 0 15px 18px;
  border-radius: 0;
  background: #fff;
  color: #333;
  border: 1px solid #eee;
}
.accordion a:hover {
  color: #fff !important;
  background: #1a76d1 !important;
}
.accordion a:after {
  position: absolute;
  right: 20px;
  content: "+";
  top: 16px;
  color: #232323;
  font-size: 25px;
  font-weight: 700;
}
.accordion a:hover:after {
  color: #fff !important;
}
.accordion li {
  position: relative;
  list-style-type: none;
  margin-bottom: 30px;
}
.accordion li:first-child {
  border-top: 0;
}
.accordion li:last-child {
  margin-bottom: 0;
}
.accordion li a.active {
  color: #ffffff;
  background-color: #1a76d1;
  border: 1px solid #1a76d1;
}
.accordion li a.active:after {
  content: "-";
  font-size: 25px;
  color: #ffffff;
}
/*=====================
   End Faq CSS
=======================*/

/*=========================
   Start Contact Us CSS
===========================*/

/* End Our Mission CSS */

/*=========================
	End About Us CSS
===========================*/

/*=========================
	Start Footer CSS
===========================*/
.footer {
  position: relative;
}
.footer .footer-top {
  padding: 100px 0px;
  position: relative;
  background: #1a76d1;
}
.footer .footer-top:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.1;
}

.footer .single-footer .social {
  margin-top: 25px;
}
.footer .single-footer .social li {
  display: inline-block;
  margin-right: 10px;
}
.footer .single-footer .social li:last-child {
  margin-right: 0px;
}
.footer .single-footer .social li a {
  height: 34px;
  width: 34px;
  line-height: 34px;
  text-align: center;
  border: 1px solid #fff;
  text-align: center;
  padding: 0;
  border-radius: 100%;
  display: block;
  color: #fff;
  font-size: 16px;
}
.footer .single-footer .social li a:hover {
  color: #1a76d1;
  background: #fff;
  border-color: transparent;
}

.footer .single-footer.f-link li a i {
  margin-right: 10px;
}
.footer .single-footer.f-link li {
  display: block;
  margin-bottom: 12px;
}
.footer .single-footer.f-link li:last-child {
  margin: 0;
}
.footer .single-footer.f-link li a {
  display: block;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 400;
}
.footer .single-footer.f-link li a:hover {
  padding-left: 8px;
}
.footer .single-footer h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 40px;
  padding-bottom: 20px;
  text-transform: capitalize;
  position: relative;
}
.footer .single-footer h2::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0px;
  height: 3px;
  width: 50px;
  background: #fff;
}
.footer .single-footer .time-sidual {
  margin-top: 15px;
}
.footer .single-footer .time-sidual {
  overflow: hidden;
}
.footer .single-footer .time-sidual li {
  display: block;
  color: #fff;
  width: 100%;
  margin-bottom: 5px;
}
.footer .single-footer .time-sidual li span {
  display: inline-block;
  /* float: right; */
}
.footer .single-footer .day-head .time {
  font-weight: 400;
  float: right;
}
.footer .single-footer p {
  color: #fff;
}
.footer .single-footer .newsletter-inner {
  margin-top: 20px;
  position: relative;
}
.footer .single-footer .newsletter-inner input {
  background: transparent;
  border: 1px solid #fff;
  height: 50px;
  line-height: 42px;
  width: 100%;
  margin-right: 15px;
  color: #fff;
  padding-left: 18px;
  padding-right: 70px;
  display: inline-block;
  /* float: left; */
  border-radius: 0px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 400;
  border-radius: 5px;
}
.footer .single-footer .newsletter-inner input:hover {
  padding-left: 22px;
}
.footer input::-webkit-input-placeholder {
  opacity: 1;
  color: #fff !important;
}

.footer input::-moz-placeholder {
  opacity: 1;
  color: #fff !important;
}

.footer input::-ms-input-placeholder {
  opacity: 1;
  color: #fff !important;
}
.footer input::input-placeholder {
  opacity: 1;
  color: #fff !important;
}
.footer .single-footer .newsletter-inner .button {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  line-height: 50px;
  width: 50px;
  background: #fff;
  border-left: 1px solid #fff;
  text-shadow: none;
  box-shadow: none;
  display: inline-block;
  border-radius: 0px;
  border: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 0 5px 5px 0;
  color: #1a76d1;
  font-size: 25px;
}
.footer .single-footer .newsletter-inner .button i {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer .single-footer .newsletter-inner .button:hover i {
  color: #2c2d3f;
}
.footer .copyright {
  background: #1a76d1;
  padding: 25px 0px 25px 0px;
  text-align: center;
}
.footer .copyright .copyright-content p {
  color: #fff;
}
.footer .copyright .copyright-content p a {
  color: #fff;
  font-weight: 400;
  text-decoration: underline;
  display: inline-block;
  margin-left: 4px;
}
/*=========================
	End Footer CSS
===========================*/
